.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___info {
  height: 100%;
  width: 100%;
  font-weight: bold;
}

.fighter-preview___img {
  margin-right: 5%;
}

.fighter-preview___info span {
  color: #dc4314;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
